.clients{
  &__reviews__item{
    display: flex;
    align-items: center;
  }
  &__reviews__photo{
    max-width: 40vw;
    display: block;
    height: auto;
  }
  &__reviews__text {
    font-size: 1.538vmax;
    @include MonLight;
    color: $text-color;
    line-height: 2.3vmax;
    margin-left: 7vmax;
  }
  &__item{
    cursor: pointer;
    &__photo img{
      max-width: 20vw;
       height: auto;
      display: block;
      filter: opacity(0.4);
      transition: filter 0.2s linear;
      &:hover:not(.clients__img--active){
        filter: opacity(0.6);
      }
    }
    & img.clients__img--active{
        filter: opacity(1);
    }
  }
  &__list{
    margin-bottom: 4.27vmax;
    &__indicators{
      text-align: center;
      .list__indicator{
        outline: none;
        border:0.085vmax solid $accent;
        border-radius: 50%;
        width: 1.3675vmax;
        height: 1.3675vmax;
        background-color: transparent;
        margin: 0 1.45vmax;
        &.indicator--active{
          background-color: $accent;
        }
      }
    }
  }
}

