.footer{
  padding: 4.27vmax 0;
  &__copy{
    span{
      display: block;
    }
  }
  &__title{
    font-size: 1.538vmax;
    color: $accent;
    @include MonBold;
  }
  &__subtitle{
    font-size: 1.196vmax;
    color: $text-color;
    @include MonLight;
  }
}