.content {
  display: grid;
  grid-template-columns: 40vw 1fr;
  grid-column-gap: 7.14285vmax;

  &__photo {
    margin-bottom: 3.5714vmax;
  }

  &__title {
    padding-left: 5vmax;
    max-width: 24.64285vw;

    &::before {
      @extend %lineSeparation;
      margin:0 0 3.5714vmax;
      background-color: $accent;
    }
  }

  &__description::before {
    @extend %lineSeparation;
    background-color: $accent;
    margin-bottom: 3.5714vmax;
  }
}

.title__slogan {
  font-size: 2.8571vmax;
  line-height: 3.85714vmax;
}