.header{
  padding-top: 5.128vmax;
  padding-bottom: 5.9829vmax;
}

.logo{
  opacity: 0;
  visibility: hidden;
  transform: translateX(-30px);
  transition: all 1s ease;
  &.logo--appear{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.logo__link{
  font-size: 2.6vmax;
  @include MonBold;
  text-decoration: none;
  color: $accent;
} 

.menu{
  &__item{
    margin-right: 2.564vmax;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.5s ease;
    &.item--appear{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__item:nth-child(1){
    transition-delay: 0.1s;
  }
  &__item:nth-child(2){
    transition-delay: 0.2s;
  }
  &__item:nth-child(3){
    transition-delay: 0.3s;
  }
  &__item:nth-child(4){
    transition-delay: 0.4s;
  }
  &__item:nth-child(5){
    transition-delay: 0.5s;
  }
  &__link{
    position: relative;
    text-decoration: none;
    color: $menu_links-color;
    @include MonLight;
    font-size: 1.3vmax;

    &:hover{
      color: $accent;
    }

    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: $accent;
      transition: all 0.2s linear;
    }

    &:hover::after{
      width: 50%;
    }
  }
}