.hero{
  &__background{
    padding: 11.96vmax 0 8.547vmax;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#ffcb93, 0.7);
    }
  }

  &__inner{
    max-width: 64.1vw;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  &__title{
    font-size: 4.17vmax;
    @include MonBold;

    &::after{
      content: '';
      display: block;
      width: 5vw;
      height: 0.17vmax;
      background-color: $accent;
      margin: 2.564vmax auto;
    }
  }

  &__subtitle{
    display: block;
    font-size: 2vmax;
    margin-bottom: 6.3vmin;
    @include MonLight;
  }

  &__button{
    border: none;
    outline: none;

    &:hover{
      background-color: #ffcb93;
      color: $accent;
    }
  }
}