.proposal {
  padding: 5.714285vmax;
  background-color: $accent;
  color: #ffffff;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__recommendation {
    position: relative;
    & span {
      font-size: 2.14285vmax;
      @include MonLight;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 0.17vmax;
      width: 4.7vw;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      right: -75%;
    }
  }

  &__price {
    & span:first-child {
      font-size: 2.857142vmax;
    }

    & span:last-child {
      font-size: 2.14285vmax;
      color: #8e8e8e;
    }
  }

  &__btn:hover {
    background-color: #ffe1bd;
  }

  &__btn:active {
    background-color: darken(#ffe1bd, 15);
  }
}