.services{
  &__list{
    grid-row-gap: 8.547vmax;
  }
  &__item article{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8.547vmax;
  }
  &__photo img{
    display: block;
    height: auto;
    max-width: 100%;
  }
  &__description:nth-child(odd){
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.5s ease;
    visibility: hidden;
    &.description--appear{
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }
  &__description:nth-child(even){
    opacity: 0;
    transform: translateX(60px);
    visibility: hidden;
    transition: all 0.5s ease;
    &.description--appear{
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }
}
.description__designation{
  word-break: break-word;
}
.designation__subtitle{
    font-size: 2.564vmax;
    @include MonLight;
    color: $accent;
}
.designation__title{
    font-size: 4.1vmax;
    @include MonBold;
    color: $accent;
}
.description__text{
  &::before{
    @extend %lineSeparation;
    margin: 1.7vmax 0;
  }
}
.description__button{
  text-decoration: none;
  display: inline-block;
  border: 0.085vmax solid #e3e3e3;
  outline: none;

  &:hover{
    border-color: $accent;
  }
}
