::-webkit-scrollbar{
  width: 0.6vmax;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  background-color: #000000;
}
body{
  @include MonBold;
}
.container{
  width: 100%;
  max-width: 83.57vw;
  padding: 0 1.282vmax;
  margin: 0 auto;
}
li{
  list-style: none;
}
a:focus{
  outline: auto;
}
.section{
  padding: 7.69vmax 0 8.547vmax;
  &__header{
    text-align: center;
    margin: 0 auto 8.547vmax;
  }
  &__title{
    font-size: 5.128vmax;
    @include MonThin;
    color: $accent;
    &--white{
      color: #ffffff;
    }
  }
}
.paragraph{
  font-size: 1.3vmax;
  @include MonLight;
  line-height: 2.3vmax;
  color: $text-color;
  &--margin{
    margin-bottom: 3vmax;
  }
}
.btn--black{
  font-size: 1.56vmax;
  @include MonLight;
  background-color: $accent;
  color: #ffffff;
  border-radius: 10vw;
  padding: 1.1vmax 2.6vmax;
  border: none;
}
.btn--white{
  font-size: 1.56vmax;
  @include MonLight;
  background-color: #ffffff;
  color: $accent;
  border-radius: 10vw;
  padding: 1.1vmax 2.6vmax;
  border: none;
  outline: none;
}
.input__contact--common{
  background-color: transparent;
  border: none;
  outline: none;
}