.section__about {
  border-width: 1px 0 1px;
  border-color: #d8d8d8;
  border-style: solid;
}

.content {
  display: grid;
  grid-template-columns: 40vw 1fr;
  grid-column-gap: 7.14285vmax;

  &__title {
    padding-left: 5vmax;
    max-width: 24.64285vw;

    &::before {
      @extend %lineSeparation;
      margin: 3.5714vmax 0;
    }
  }

  &__description::before {
    @extend %lineSeparation;
    margin-bottom: 3.5714vmax;
  }
}

.title__slogan {
  font-size: 2.8571vmax;
  line-height: 3.85714vmax;
}

.statistics {
  padding: 7.14285vmax;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    text-align: center;
  }

  &__number {
    font-size: 2.85714vmax;
    display: block;

    &::after {
      @extend %lineSeparation;
      margin: 1.42857vmax auto 1vmax auto;
    }
  }

  &__title {
    @include MonLight;
    font-size: 1.3vmax;
  }
}

.preview {
  text-align: center;
  padding: 0 0.714285vmax;

  &__list {
    display: flex;
    margin-bottom: 3.57142vmax;
  }

  &__item {
    margin-right: 0.7142vmax;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    & img {
      transition: transform 1s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    border: 0.085vmax solid #e3e3e3;

    &:hover {
      border-color: $accent;
    }
  }
}
