.container{
  width: 100%;
  max-width: 83.57vw;
  padding: 0 1.282vmax;
  margin: 0 auto;
}

li{
  list-style: none;
}

.section{
  padding: 7.69vmax 0 8.547vmax;
  &__header{
    text-align: center;
    margin: 0 auto 8.547vmax;
  }
  &__title{
    font-size: 5.128vmax;
    @include MonThin;
    color: $accent;
    &--white{
      color: #ffffff;
    }
  }
}


.paragraph{
  font-size: 1.538vmax;
  @include MonLight;
  line-height: 2.3vmax;
  color: $text-color;
}

.btn--black{
  font-size: 1.56vmax;
  @include MonLight;
  background-color: $accent;
  color: #ffffff;
  border-radius: 10vw;
  padding: 1.1vmax 2.6vmax;
}

.btn--white{
  font-size: 1.56vmax;
  @include MonLight;
  background-color: #ffffff;
  color: $accent;
  border-radius: 10vw;
  padding: 1.1vmax 2.6vmax;
}